.campo {
    position: absolute;
    width: 100px;
    height: 50px;
    user-select: none;
    cursor: pointer;
}
.swal2-title{
    font-size: 1.3rem !important;
    line-height: 1.6rem !important;
}
#campos-container {
    width: 800px;
    height: 1800px;
    margin: 0 auto;
}

.cursor-move {
    cursor: move;
}

.cursor-default {
    cursor: pointer;
}

.hidden-checkbox {
    display: none;
}

.selectedCampo {
    background: #0EA5E9 !important;
    color: #ffffff !important;
}

/* Borde punteado grande */
.border-blue-dotted-large {
    background-image: linear-gradient(90deg, #0EA5E9 50%, transparent 50%), linear-gradient(90deg, #0EA5E9  50%, transparent 50%), linear-gradient(0deg, #0EA5E9  50%, transparent 50%), linear-gradient(0deg, #0EA5E9  50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 3px, 15px 3px, 3px 15px, 3px 15px;
    background-position: left top, right bottom, left bottom, right top;
}

/* Borde punteado animado */
.border-blue-dotted-large-animated {
    background-image: linear-gradient(90deg, #0EA5E9 50%, transparent 50%), linear-gradient(90deg, #0EA5E9  50%, transparent 50%), linear-gradient(0deg, #0EA5E9  50%, transparent 50%), linear-gradient(0deg, #0EA5E9  50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 3px, 15px 3px, 3px 15px, 3px 15px;
    background-position: left top, right bottom, left bottom, right top;
    animation: border-dance 1s infinite linear;
}

@keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right top;
    }

    100% {
        background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
    }
}